body
{font-family: 'Raleway500', sans-serif !important;
background-color: black;
}

#stretch {
  margin-left: 30%;
  margin-top: 6%;
  font-size: 20px;
}

/* responsive browser resizing


a:nth-of-type(2n) {
  margin-right: 0;
}

@media screen and (min-width: 50em) {
  a {
    width: calc(25% - 6px);
  }

  a:nth-of-type(2n) {
    margin-right: 0;
  }

  a:nth-of-type(4n) {
    margin-right: 0;
  }
}

@media only screen and (max-width: 760px) {

   a { font-size: 16px; }
   p { font-size: 16px; }

}

@media only screen and (max-width: 760px) {
  
#stretch {
  margin-left: 30%;
  margin-top: 6%;
  font-size: 20px;
}
 */
